:root {
  --main-color: #012754;
  --light-blue-1: #e3eaf6;
  --light-blue-2: #c5d4ee;
  --light-blue-3: #a8bfe5;
  --gray: #f5f5f5;
}

body {
  overflow: hidden;
}

.post-container {
  border: 1px solid var(--light-blue-3);
  max-width: 800px;
  margin: 30vh auto 0;
  transform: translateY(-40%);
  border-radius: 8px;
  padding: 20px;
}

h2 {
  text-align: center;
  color: var(--main-color);
}

.form-row {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.title-label {
  width: 20%;
  text-align: left;
}

.title-input {
  width: 60%;
}

.category-options {
  display: flex;
  justify-content: space-between;
  width: 20%;
  gap: 8px;
}

.give-container,
.need-container {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 48%;
}

.give-container label,
.need-container label {
  display: flex;
  align-items: center;
  gap: 5px;
  white-space: nowrap;
  text-align: left;
  width: 100%;
}

.label {
  display: block;
  font-weight: bold;
  color: var(--main-color);
}

input {
  width: 80%;
  padding: 8px;
  border: 1px solid var(--light-blue-3);
  border-radius: 4px;
  font-size: 14px;
}

/* 이미지 선택 부분 */
.image-div {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  margin-top: 20px;
}

.image-div label {
  width: 20%;
  text-align: left;
}

.image-div .custom-file-btn-container {
  width: 60%;
}

.image-div .empty-space {
  width: 20%;
}

input[type="file"] {
  display: none;
}

.custom-file-btn {
  background-color: var(--main-color);
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.custom-file-btn:hover {
  opacity: 0.8;
}