:root {
  --main-color: #012754;
  --light-blue-1: #e3eaf6;
  --light-blue-2: #c5d4ee;
  --light-blue-3: #a8bfe5;
  --gray: #f5f5f5;
  --text-color: #333;
}html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  
}

body {
  display: flex;
  flex-direction: column; 수직 정렬

  justify-content: center; /* 수직 중앙 정렬 */

  width: 100%;
  max-width: 1440px;
  margin: auto; /* 수평 중앙 정렬용 */
  min-height: 100vh; /* 화면 전체 높이 기준 */
}

body header {
  
  padding: 0 30px 0 30px;
  border-bottom: 1px solid var(--gray);
  display: flex;
  flex-wrap: wrap; /* 줄 바꿈 허용 */
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0 0 0.5rem 0;
}
.contrast {
  text-align: center;
}
.logo {
  width:80px;
}
.contrast{
  font-style: normal;
  font-family: "Asap", sans-serif;
  font-size: 1.3rem;
  font-weight: 900;
  color: #2c3e50;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius:20px;
  transition: all 0.3s ease;
}
.contrast img {
  vertical-align: middle;
}
.contrast:hover {
  background-color:#f4f4f4;
  
  /* border-radius:20px; */
  
}
.logo:hover {
  
}
.nav-left,.nav-center {
  margin-right: 10%;
}
.nav-right {
  margin-right: 2%;
}
.mypage {
  font-size:35px;
}
.logout {
  margin-left:10px;
  font-size:35px;
}
.nav-center a{
  color:#012754;
  

}
.nav-right i {
  color:#012754;

}
.nav-center a:hover {
  text-decoration: none;
}.nav-left{
  /* border:1px solid black; */
}
.nav-left,
.nav-center,
.nav-right {
  display: flex;
  align-items: center;
  /* gap: 1rem; */
}

/* 가운데 카테고리: 기본 가로 정렬, 작은 화면에서는 세로 */
.nav-center {
  height:60px;
  /* border: 1px solid black; */
  flex-grow: 1;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

.nav-center a {
  font-size:1.1rem;
  font-weight: bold;
  text-decoration: none;
}

/* @media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-left,
  .nav-center,
  .nav-right {
    justify-content: flex-start;
  }

  .nav-center {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-right {
    align-self: flex-end;
  }
} */

/* main.container {
  max-width: 1000px;
  margin: auto;
  padding: 2rem;
} */
.nav-right i {
  margin-left:0.3rem;
  font-size:1.6rem;
}