<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login.css') }}"
    />
  </head>
  <body>
    <div class="box">
      <div class="image-container">
        <img
          class="logo"
          src="{{ url_for('static', filename='images/logo2.png') }}"
          alt="로고"
        />
      </div>

      <div class="login-container">
        <div class="select-box-container">
          <select class="select-box">
            <option value="jungelweb" selected>교육명 선택</option>
            <option value="jungelweb">정글웹 개발</option>
            <option value="gamelab">게임랩</option>
            <option value="gametechlab">게임 테크랩</option>
          </select>
          <input type="text" class="text-input" placeholder="EX) 8기-76" />
        </div>

        <input type="password" class="text-input" placeholder="비밀번호" />

        <button class="login-btn">로그인</button>
        <button
          class="signup-btn"
          onclick="location.href='{{ url_for('routes.register_render') }}'"
        >
          회원가입
        </button>
      </div>
    </div>
  </body>
</html>
